html {
	/* Sticky footer styles
	-------------------------------------------------- */
	position: relative;
	min-height: 100%;
}

body {
	/* Sticky footer styles
	-------------------------------------------------- */
	margin-bottom: $sticky-footer-height;
}