/*
 * Variables marked '@override' will override the bootstrap defaults
 */

//== Colors
//
//## Global color settings.
$color-primary:          #ff00ff;
$color-secondary:        #88bbde;

$brand-primary:          $color-primary;  // @override
$gray-darker:            lighten(#000, 13.5%); // @override
$gray-dark:              lighten(#000, 20%);   // @override
$gray:                   lighten(#000, 33.5%); // @override
$gray-light:             lighten(#000, 40%);   // @override
$gray-lighter:           lighten(#000, 93.5%); // @override


//== Scaffolding
//
//## Settings for some of the most global styles.
//** Background color for `<body>`.
$body-bg:                $gray-lighter;  // @override
//** Global text color on `<body>`.
$text-color:             $gray-dark; // @override
//** Global textual link color.
$link-color:             $color-secondary; // @override
$link-hover-color:       lighten($link-color, 15%); // @override
$link-hover-decoration:  none; // @override


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$text-color-inverted:       white;
$font-family-sans-serif:    "Open Sans", sans-serif, Arial; // @override
$headings-font-family:      "Helvetica Neue", Helvetica, Arial; // @override
$headings-font-weight:      300; // @override
$headings-color:            $color-primary; // @override

$font-size-base:          16px; // @override
$font-size-large:         20px; // @override
$font-size-small:         12px; // @override

//== Buttons
//
//## Styles global to buttons.
$btn-default-color:       white; // @override
$btn-default-bg:          $text-color; // @override
$btn-font-weight:         100; // @override


//== Components
//
$sticky-footer-height: 100px;

$padding-base-vertical:     9px; //@override
$padding-base-horizontal:   18px; //@override

$border-radius-base:        0; //@override
$border-radius-large:       0; //@override
$border-radius-small:       0; //@override

//== Grid system
//
//## Define your custom responsive grid.
$grid-gutter-width:     40px;  // @override
$container-sm:          ((680px + $grid-gutter-width)); // @override (should be <= 768 if using standard breakpoints)
$container-md:          ((900px + $grid-gutter-width)); // @override (should be <= 992 if using standard breakpoints)
$container-lg:          ((1100px + $grid-gutter-width)); // @override (should be <= 1200 if using standard breakpoints)

/*
 * Define custom breakpoints
 */
/*
$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;
*/