/**
 * Global variables
 * This is also a good place to override bootstrap defaults
 */

//== Colors
//
//## Global color settings.
$color-primary:           #47BDF9;
$color-secondary:         #FF564A;

$brand-primary:           $color-primary;
$gray-darker:             lighten(#000, 10%);
$gray-dark:               lighten(#000, 25%);
$gray:                    lighten(#000, 50%);
$gray-light:              lighten(#000, 75%);
$gray-lighter:            lighten(#000, 90%);

$text-color:              $gray-dark;
$text-color-inverted:     white;

//== Scaffolding
//
//## Settings for some of the most global styles.
$body-bg:                 #F7F7F7;
//$link-color:            $color-secondary;
//$link-hover-color:      lighten($link-color, 15%);
//$link-hover-decoration: none;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
//$font-family-base:      $font-family-sans-serif;
//$headings-font-family:  $font-family-serif;

//== Buttons
//
//## Styles global to buttons.
//$btn-default-color:     white;
//$btn-default-bg:        $text-color;
$btn-font-weight:         500;


//== Components
//
$sticky-footer-height:    100px;

$padding-base-vertical:   10px;
$padding-base-horizontal: 20px;

//== Grid system
//
//## Define your custom responsive grid.
$grid-gutter-width:       40px;
$container-sm:            720px; // (should be <= 768 if using standard breakpoints)
$container-md:            940px; // (should be <= 992 if using standard breakpoints)
$container-lg:            1140px; // (should be <= 1200 if using standard breakpoints)

/*
 * Define custom breakpoints
 */
/*
$screen-xs:               480px;
$screen-sm:               768px;
$screen-md:               992px;
$screen-lg:               1200px;
*/